.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.second-div {
    border-radius: 5px;
    width: 30%;
    /* box-shadow: 1px 0px 15px 1px lightgrey; */
}
.input-div {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 30%;
    box-shadow: 1px 0px 15px 1px lightgrey;
}
.input-div input {
    width: 80%;
    height: 30px;
    outline: none;
}